#barraSuperior{
     /* border: 1px solid blue; */
        width: 100%;
        height: 100px;
        margin-top: -9px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background: rgb(7, 72, 1);
        z-index: 100;

}

#contenedorPadre{
    /* border: 1px solid red; */
    margin-top: 15px;
    max-width: 1000px;
    max-height: 900px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    /* background: linear-gradient(45deg, rgb(7, 64, 13),transparent); */
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgb(1, 65, 1);
}



#descripcion{
    /* border: 1px solid yellow; */
    height: 450px;
    width: 450px;
}



#imagenBarra{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
}

#contenedorHijoImagen{
    margin-top: 8px;
    margin-left: 8px;
    height: 73px;
    width: 250px;
    position: absolute;
   
}

#contenedorImagenBarra{
    width: 350px;
    height: 90px;
    margin-left: 0px;
    margin-top: 7px;
   position: relative;
   background-color: transparent;
   /* border: 5px solid yellow; */
}

#menu{

    width: 1000px;
    height: 90px;
    margin-left: 0px;
    margin-top: 7px;
   position: relative;
   display: flex;
   justify-content: end;
   align-items: end;
}

#containerButton{
    margin-right: 10px;
    display: flex;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.botonesMenu{
    text-decoration: none;
    color: white;
    padding: 5px 25px;
    position: relative;
    /* border: 5px solid green; */
    width:280px;
    height: 50px;
}

#menuInicio{
    border: 1px solid white;
    text-align: center;
    margin-right: -50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#menuGaleria{
    border: 1px solid white;
    text-align: center;
    margin-right: -50px;
}

#menuOtros{
    border: 1px solid white;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#imagen{
    border: 1px solid green;
    height: 450px;
    width: 470px;
    margin-left: 30px;
}

#containerComent{
    border: 1px solid white;
    width: 530px;
    height: 60px;
    margin-left: -55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    z-index: 1;
    margin-top: 35px;
    position: absolute;
    background: linear-gradient(50deg, rgb(70, 5, 5), rgba(188, 52, 52, 0.587), rgb(70, 5, 5));
    transform: rotate(-10deg);
    color: yellowgreen;
    transition: all aese 0.5ms;
}
#containerImagen{
    /* border: 1px solid blue; */
    width: 300;
    height: 450px;
    margin: 5px 5px;
    position: relative;
    
}

.imgcarrusel{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 4px #000000;
}

#fotoCarrusel{
    transition: all aese 0.5ms;
}

#titulo{
    position: relative;
    
}

.titulo h1{
    color: white;
    margin-top: 5px;
    margin-left: 50px;
    font-family: 'Dancing Script', cursive;
}

.titulo> h1 >span{
    position: absolute;
    right: 170px;
    width: 0;
    height: 50px;
    background: rgb(20, 113, 1);
    border-left: 3px solid black;
    
    animation: escribir 6s steps(40) infinite alternate;
}

@keyframes escribir{
    from{width: 30%;}
    to{width: 0;}
}

#fondoDescripcion{
    position: absolute;
    width: 270px;
    height: 350px;
    background: bisque;
    transform: rotate(15deg);
    z-index: -1;
    margin-top: 25px;
    margin-left: 90px;

}

#descripcionTexto{
   
    position: absolute;
    width: 236px;
    /* border: 1px solid white; */
    z-index: 1;
    margin-top: 81px;
    margin-left: 118px;

}